body {
  margin: 0;
  background: #000;
  color: #d7d7d7;
  font-family: monospace;
}

#terminal{
    height: 100vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

#output{
    overflow-y: auto;
    line-height: 1.5;
    padding-bottom: 0;
}

#input-line {
  display: flex;
  align-items: center;
}

/* cursor */
#cursor {
  width: 9px;
  height: 18px;
  background: #d7d7d7;
  margin-left: 4px;
  animation: blink .55s infinite;
}

@keyframes blink {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}

.prompt {
  color: #6cf36c;
}

.line {
  margin-bottom: 4px;
 }

#output .line:last-child {
  margin-bottom: 0;
}

